*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Neue-Montreal-Reg;
    src: url(fonts/NeueMontreal-Regular.otf);
}
@font-face {
    font-family: Neue-Montreal-Med;
    src: url(fonts/NeueMontreal-Medium.otf);
}
@font-face {
    font-family: Neue-Montreal-Bold;
    src: url(fonts/NeueMontreal-Bold.otf);
}
.first{
    width: 100%;
    height: 100vh;
    background-image: url(image/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.first .thehead{
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
    transition: ease-in 0.8s;
}
.first .thehead .logo{
    font-size: 3rem;
    
}
.first .thehead .logo a{
    color: #9A9A9A;
}

.first .thehead .navbar .listofbutton{
    list-style: none;
}

.first .thehead .navbar .listofbutton li{
    display: inline-block;
    width:max-content;
    padding: 20px;
    position: relative;
}

.first .thehead .navbar .listofbutton a{
    text-decoration: none;
    color: #9A9A9A;
    font-size: 1.2rem;
    font-family: 'Neue-Montreal-Med', 'sans-serif';
}

.first .thehead .navbar .listofbutton a:hover{
    color:white;
    border-bottom: 3px solid white;
    transition: ease-in-out 0.2s;
}

.submenu{
    display: none;
    position: absolute;
   
}
.submenu ul{
    list-style: none;
    display: block;
}
#tool:hover .submenu{
    display: block;
    position: absolute;
    background-color:transparent;
    width: 150px;
    height: 100px;
    transition: ease-in 0.8s;
}
main .content{
    color: white;
    font-size: 2rem;
    top: 50%;
    transform: translateY(50%);
    text-align: center;
}
main .content h1{
    font-family: 'Neue-Montreal-Bold', 'sans-serif';
    font-size: 3.5rem;
}
main .content p{   
    font-family: 'Neue-Montreal-Med', 'sans-serif';
    color:#9A9A9A;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid white;
    background: transparent;
    color:white;
    position: relative;
    overflow: hidden;
}
button:hover{
    background-color: black;
    color: white;
    transition: ease-in 0.1s;
}