* {
    margin: 0;
    padding: 0;
    font-family: 'Neue-Montreal-Reg', 'sans-serif';
}

@font-face {
    font-family: Neue-Montreal-Reg;
    src: url(fonts/NeueMontreal-Regular.otf);
}

@font-face {
    font-family: Neue-Montreal-Med;
    src: url(fonts/NeueMontreal-Medium.otf);
}

@font-face {
    font-family: Neue-Montreal-Bold;
    src: url(fonts/NeueMontreal-Bold.otf);
}

.first {
    width: 100%;
    height: 100vh;
    background-image: url(image/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.first .thehead {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
    transition: ease-in 0.8s;
}

.first .thehead .logo {
    font-size: 3rem;

}

.first .thehead .logo a {
    color: #9A9A9A;
}

.first .thehead .navbar .listofbutton {
    list-style: none;
}

.first .thehead .navbar .listofbutton li {
    display: inline-block;
    width: max-content;
    padding: 20px;
    position: relative;
}

.first .thehead .navbar .listofbutton a {
    text-decoration: none;
    color: #9A9A9A;
    font-size: 1.2rem;
    font-family: 'Neue-Montreal-Med', 'sans-serif';
}

.first .thehead .navbar .listofbutton a:hover {
    color: white;
    border-bottom: 3px solid white;
    transition: ease-in-out 0.2s;
}

.submenu {
    display: none;
    position: absolute;
    z-index: 999;

}

.submenu ul li {
    list-style: none;
    display: block;
}

#tool:hover .submenu {
    display: block;
    position: absolute;
    background-color: transparent;
    width: 150px;
    height: 200px;
    transition: ease-in 0.8s;
}

main .content {
    color: white;
    font-size: 2rem;
    top: 50%;
    transform: translateY(30%);
    text-align: center;
}

main .content h1 {
    font-family: 'Neue-Montreal-Bold', 'sans-serif';
    font-size: 3.5rem;
}

main .content p {
    font-family: 'Neue-Montreal-Med', 'sans-serif';
    color: #9A9A9A;
}

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid white;
    background: transparent;
    color: white;
    position: relative;
    overflow: hidden;
}

button:hover {
    background-color: black;
    color: white;
    transition: ease-in 0.1s;
}

.year {
    color: #8afed8;
}

.content h1 {
    padding: 15px;
}

.second {
    width: 100%;
    height: 100vh;
    background-color: #101010;

}

.second .container {
    display: grid;
    margin-left: 8%;
    margin-right: 8%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    height: 100vh;
    align-content: center;
    justify-content: center;
    height:max-content;
    padding:4%;
    
}

.box {
    padding: 30px;
    border-radius: 10px;
    background: rgb(130,130,130);
    background: linear-gradient(140deg, rgba(130,130,130,0.364670868347339) 0%, rgba(0,0,0,0.4823179271708683) 29%, rgba(0,0,0,0.46271008403361347) 56%, rgba(9,121,99,0.4375) 100%);
    color: white;
    border: 2px solid rgb(1, 76, 1);
}

.box__1 {
    grid-column: 1/2;
    grid-row: 1/4;
}

.box__2 {
    grid-column: 2;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 1fr 3fr;


}

.box__3 {
    grid-row: 3/4;
    grid-column: 2/3;
}

.box__2 .from {
    font-size: 3rem;
}

.box__2 .info {
    font-size: 1.8rem;
    padding: 30px;
    transform: translateY(20%);

}

.box__1 h1 {
    font-size: 2rem;
    font-family: 'Neue-Montreal-Med', 'sans-serif';
    line-height: 1.4;
}

.box__3 h5 {
    font-size: 1.5rem;
}

.from h5 {
    color: #9D9D9D;
}

.info {
    color: #9D9D9D;
}

.info .yearcolor {
    color: #6BF899;
}

footer {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    padding-bottom: 40px;
    font-size: 1.2rem;
    color: white;
    background-color: #101010;
}

footer li {
    list-style: none;
    padding: 2px;
    line-height: 1.4;
}

footer a {
    text-decoration: none;
    color: white;
}

footer i {
    font-size: 2rem;
}

footer h3 {
    font-size: 1.5rem;
    font-family: 'Neue-Montreal-Med', 'sans-serif';
}
